@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #acb1d6;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.width-80 {
  width: 80%;
  margin: 20px auto;
}

#quote-box {
  background-color: var(--primary-color);
  width: 80vw;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#quote-text {
  display: flex;
  flex-direction: column;
}

#quote-text i {
  font-size: 70px;
  text-align: center;
}

#text {
  font-family: "Lobster Two", cursive;
  font-size: 4rem;
}

#author {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-align: right;
}

.footer {
  display: flex;
  justify-content: space-between;
}

#tweet-quote i {
  color: #fff;
  font-size: 60px;
}

#new-quote {
  background-color: #fff;
  border: none;
  border-radius: 5px;
  /* color: var(--primary-color); */
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-bottom: 3px;
}

#new-quote:hover {
  cursor: pointer;
  background-color: #8294c4;
  color: #fff !important;
}


